# Gradle
.gradle
build-logic/.gradle
build
*/build
*/*/build
*/src/main/generated

# Fabric Loom / NeoForge Gradle run directories
run
runs
*/run
*/runs
*/*/run
*/*/runs

# IDE
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*.xml
.fleet
.vscode
*.ipr
*.iws
*.iml
out
bin
*.launch
.settings
.classpath
.project

# Logs
*.log
*.hprof
